p {
  line-height: 2.5em;
}
// Navbar

.navbar__link {
  color: $white;

  &:hover {
    color: $light-gray;
  }

  &--current {
    color: $ruddy-pink;

    &:hover {
      color: $ruddy-pink;
    }
  }
}

// Header
.header {
  color: $white;

  &__title {
    font-size: $xx-large;
    color: $white;
    font-family: $playfair;
    font-weight: $black;
    font-style: italic;
    line-height: 1.4;
    text-shadow: 1px 1px 2px $nickel;

    @media (max-width: 576px) {
      font-size: $x-large;
    }
  }
}



// Main section
.post__date {
  font-family: $playfair;
  font-size: $medium;
}

.post__text {
  font-size: $medium;

  &--emphasis {
    color: $ruddy-pink;
  }
}

.author {
  &__name {
    font-family: $playfair;
    font-weight: $black;
    font-style: italic;
    color: $eerie-black;
    font-size: $x-large;
    margin-bottom: 0.3em;
  }

  &__link {
    font-size: $large;
    margin-top: 0.3em;
    color: $spanish-pink;

    &:hover {
      color: $raisin-black;
    }

    &:active {
      color: $platinum;
    }
  }

  &__text {
    font-size: $small;
  }
}
