// Color Schemes
//First color scheme
$white: #fff;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;

//Second color scheme
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

//Third color scheme
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;


// Typography
//Fonts
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

//Font sizes
$xx-large: 4.375rem;
$x-large: 1.875rem;
$large: 1.125rem;
$medium: 1rem;
$small: .75rem;

//Font weights
$light: 300;
$regular: 400;
$black-italic: 900i;
