.header {
  background-image: url("../img/post-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 15%;
  padding-bottom: 8%;
  text-align: center;

  @media (max-width: 576px) {
    padding-top: 10%;
    max-height: 700px;
    background-position: center bottom;
  }

  &__title {
    margin: 5% 28%;

    @media (max-width: 576px) {
      margin: 40% 25%;
      font-size: $x-large;
    }
  }

  &__icon {
    @media (min-width: 768px) {
      margin-top: 70px;
    }
  }
}
