header {
  background-image: url("../img/post-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25% 25% 5% 25%;
  text-align: center;
  color: $white;
}

i {
  margin-top: 15rem;
}
