.main-section {
  font-weight: $light;
  /*padding-left: 2em;
  padding-right: 2em;*/

  /*h3 {
    margin-top: 2rem;
  }*/

  p {
    margin-top: 2rem;
    line-height: 2.5em;
  }

  &__author {
    border-top: 1px solid $light-gray;
    padding-top: 5rem;
    padding-bottom:5rem;

    p {
      margin:0;
    }

    img {
      border-radius: 50%;
      border: solid 1px $light-gray;
    }
  }

  &__share {
    padding-top: 4em;
    padding-bottom: 5em;
  }
}
