.navbar {
  background-color: $eerie-black;
  z-index: 1;

  &__link {
    margin: .4rem;
  }

  &__logo {
    height: $x-large;
  }

  &-toggler {
    border: 0px;
    font-size: 1.5rem;
  }
}

@media (max-width: 992px) {
  .navbar__container {
    margin: 1.5rem;
    padding: .8rem;
  }
}
