.navbar {
  background-color: $eerie-black;
  position: fixed;
  width: 100vw;

  a {
    color: $white;
    margin: .4rem;
  }

  .current {
    color: $ruddy-pink;
  }

  img {
    height: $x-large;
  }
}
