.pagination-section {
  background-color: $platinum;
  padding: 3rem;
}

.pagination__link {
  color: $eerie-black;

  &--disabled {
    color: $light-gray;
  }

  &--current {
    background-color: $nickel;
    color: $white;
  }
}
